/*
html {
  height: 100%;
}
*/


#timeframe {
  padding: 15px;
}
#timeframe-box {
  border: 1px solid black;
  display: flex;
  overflow-x: auto;
  flex-flow: column;
}
.tf-row {
  flex: 1 0 auto;
}
.tf-month-row {
  border: 1px solid black;
  display: flex;
}
.tf-month-column {
  background-color: blue;
}
.tf-month-column-text {
  text-align: center;
  font-size: 1.8em;
}
.tf-week-row {
  display: flex;
}
.tf-week-column {
  height: 8vh;
  background-color:aquamarine;
  flex: 0 1 auto;
}
.tf-week-column-text{
  text-align: center;
  font-size: 1.5em;
}
.month-start {
  background-color: blueviolet;
}
.tf-task-row {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-flow: column;
}
.tf-task-content-row {
  height: 10vh;
  border-top: 1px solid black;
}
.task-content {
  display: flex;
  height: 10vh;
  width: 100px;
  background-color: blue;
}
.task-section-arrow-right {
  width: 20%;
  margin-left: 60%;
  background-color: aqua;
  height: 100%;
  position: relative;
}
.task-section-arrow-left {
  width: 20%;
  background-color: aqua;
  height: 100%;
  position: relative;
}
[class*="task-arrow-"] {
  position: absolute;
  top: 50%;
  transform: translate(-0%, -50%);
}
.task-arrow-right {
  margin-left: 25%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    border-right: 1px solid black;
}
.col-1 {
  min-width: 100px;
  flex: 1 0 auto;
}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {
    min-width: 403px;
    flex: 1 0 auto
}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}